#box1{
   border: 2px solid black;
   background-color: yellow;
   color: red;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
#box2{
   border: 2px solid black;
   background-color: yellow;
   color: red;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}